---

---

<section id="footer-widgets" class="col-full col-1">
  <div class="block footer-widget-1">
    <div class="widget widget_black_studio_tinymce">
      <div class="textwidget">
        <p align="center">
          © Copyright 2026 11th International Conference on Intelligent Information Technology
          (ICIIT). All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
  <div class="fix"></div>
</section>
