---

---

<header id="header" class="col-full">
  <div id="logo">
    <a href="/" title="2026 11th International Conference on Intelligent Information Technology">
      <img src="/site/images/header.jpg" alt="ICIIT2026" />
    </a>
    <h1 class="site-title"><a href="/">ICIIT2026</a></h1>
    <span class="site-description">Intelligent Information Technology</span>
  </div>
</header>
